<h1><%= title %> page</h1>

<div>
    <h2><%= products.name %></h2>
    <div><img src="<%= products.src %>" alt ="<%= products.name %>"></div>
    <div>Название: <%= products.name %></div>
    <div>Артикул: <%= products.articul %></div>
    <div>Описание: <%= products.description %></div>
    <div>Цена: <%= products.price %> <%= products.RUR %></div>
</div>
